appdirs==1.4.4
asgiref==3.3.1
astroid==2.1.0
colorama==0.4.1
distlib==0.3.1
Django==3.1.4
django-crispy-forms==1.11.1
filelock==3.0.12
gunicorn==20.1.0
importlib-metadata==3.3.0
isort==4.3.4
lazy-object-proxy==1.3.1
mccabe==0.6.1
Pillow==8.1.2
pylint==2.2.2
pytz==2020.5
six==1.12.0
sqlparse==0.4.1
typing-extensions==3.7.4.3
virtualenv==20.2.2
virtualenvwrapper-win==1.2.6
whitenoise==5.2.0
wrapt==1.11.1
zipp==3.4.0
